<div class="modal fade" id="deleteProfession" tabindex="-1" aria-labelledby="deleteProfessionModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Удаление профессии</h5>
      </div>

      <div class="modal-body">
                <form action="{%url 'del_prof' prof_pk='0' %}" method="post" id="del_prof_form_id">
                    <div class="mb-3">
                        {% csrf_token %}
                        <h5>Вы действительно ходите удалить професссиию: <b id="prof_to_del_text"></b> ?</h5>

                    </div>
                    <button type="submit" class="btn btn-primary">Подтвердить</button>
                </form>
            </div>
            <div class="alert alert-danger d-none" role="alert">  </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" id="deleteProfessionWindowClose" onclick = "closeDelForm(this)">Закрыть окно</button>
            </div>
    </div>
  </div>
</div>

