<div class="modal fade" id="modifyProfession" data-backdrop="static" data-keyboard="false" tabindex="-1"
     aria-labelledby="modifyProfessionLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modifyProfessionLabel">Окно редактирования профессии</h5>
            </div>
            <div class="modal-body">
                <form action="{% url 'modify_prof' prof_data='-' %}" method="post" id="modify_prof_form_id">
                    <div class="mb-3">
                        {% csrf_token %}
                        {{ modify_prof_form }}
                    </div>
                    <button type="submit" class="btn btn-primary">Подтвердить</button>
                </form>
            </div>
            <div class="alert alert-danger d-none" role="alert">  </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" id="modifyProfessionWindowClose" onclick = "closeModifyForm(this)">Закрыть окно</button>

            </div>
        </div>
    </div>
</div>